html,body {margin: 0;padding: 0;height: 100%;text-align: center;}
section{min-height: 100%;}
a{text-decoration: none;}
li{list-style-type: none;}
h1, h2, h3, a{font-family: 'Roboto', sans-serif;font-weight: 500;color: #494949;text-transform: uppercase;}
h2{color: #5d7177;}
h3{font-size: 40px;padding-top: 8%;margin-bottom: 5px;}
hr{width: 30px;height:3px;background: #494949;border: 0;margin: 0 auto 40px auto;}
#logo, li, img .buttom, .fa-bars{transition: all 300ms;-moz-transition: all 300ms;-webkit-transition: all 300ms;}
.fa-bars{display: none;}

/* Header++++++++++++++++++++++++++++++++++*/

header{width: 100%;height: 65px;position: fixed;top: 0;left: 0;background: #fff;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);z-index: 1;}
#logo {width: 140px;float: left;margin: 10px 0 0 50px;}
#logo:hover{opacity: 0.5;}
#logo img{width: 100%;}
header nav{float: right;margin:  10px 50px 0 0;}
header nav ul li{float: left;margin-left: 25px;}
header nav ul li a{font-size: 16px;}
header nav ul li:hover{padding-top: 5px;}

/* HOME++++++++++++++++++++++++++++++++++*/

#home{background: url(../img/landing.jpg);background-position: center center;background-size: cover;background-attachment: fixed;}
#home h1{margin: 240px auto 0 auto;font-size: 110px;}
#home h2{margin: 0 auto 0 auto;font-size: 25px;}s
#home img{width: 32px;margin-top: 150px;opacity: 0.7;}
#home img:hover{opacity: 1;}

/* AUDI++++++++++++++++++++++++++++++++++*/

#audi img{width: 240px;}
#audi img:hover{transform: scale(1.1);-webkit-ransform: scale(1.1);-moz-transform: scale(1.1);}
#audi p{width: 700px;margin: 0 auto 0 auto}

/* BMW++++++++++++++++++++++++++++++++++*/

#bmw img{width: 240px;}
#bmw img:hover{transform: scale(1.1);-webkit-ransform: scale(1.1);-moz-transform: scale(1.1);}
#bmw p{width: 700px;margin: 0 auto 0 auto}

/* MERCEDES++++++++++++++++++++++++++++++++++*/

#mercedes img{width: 240px;}
#mercedes img:hover{transform: scale(1.1);-webkit-ransform: scale(1.1);-moz-transform: scale(1.1);}
#mercedes p{width: 700px;margin: 0 auto 0 auto}

/* WEBSITE++++++++++++++++++++++++++++++++++*/

#website{background-color: #f0f0f0;}
#Brands{width: 900px;margin: 0 auto 0 auto;}
#Brandsul ul{padding: 0;}
#Brands ul li{width: 50%;float: left;margin-bottom: 15px;}
#Brands img{width: 280px;height: 170px;border-radius: 5px;}
#Brands img:hover{transform: scale(1.1);-webkit-ransform: scale(1.1);-moz-transform: scale(1.1);box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);}

/* FOOTER++++++++++++++++++++++++++++++++++*/

footer{width: 100%;height: 70%;background-color: #3f3f3f3f;}
footer p{font-size: 12px;color: #f0f0f0;padding-top: 30px;}

/* MEDIA QUERIES++++++++++++++++++++++++++++++++++*/

/* TABLETS++++++++++++++++++++++++++++++++++*/

@media screen and(max-width:1024px){
  header{heigth: auto;}
  #logo{width: 100px;margin-top: 5px;}
  header nav{margin-top: 0;}
  header nav ul li{font-size: 12px;}

  #home h1{font-size: 90px;margin: 200px;}
  #home h2{font-size: 22px;}
  h3{padding-top: 12%}
  #audi p{width: 80%;}
  #brands{width: auto;}
  #brands ul li{width: 100%;float: none;}
  #brands ul li:last-child{padding-bottom: 20%;}
  #brands img{width: 55%;height: auto;}


}
/* MOBILE++++++++++++++++++++++++++++++++++*/

@media screen and(max-width:480pxpx){
  #logo{width: 90px;margin-top: 30px;}
  header nav{margin: 0;float: none;}


  .fa-bars{font-size: 17px;display: inline-block;width: 100%;cursor: pointer;text-align: right;float: right;margin: -25px 30px 0 0;}
  .fa-bars:hover{opacity: 0.5;}
  header nav ul{height: 0;overflow: hidden;margin: 0;padding: 0;width: 100%;}
  header nav ul.open{height: auto;}
  header nav ul li{width: 100%;padding: 5px 0;margin: 0;font-size: 11px;border-top: 1px solid #dddddd;}
  header nav ul li:hover{background-color: #eeeeee;}
  #home h1{font-size: 60px;margin-top: 200px;}
  #home h2{width: 70%;height: auto;}
  #brands img{width: 70%;height: auto;}



}
